{% extends 'base.html.twig' %}

{% block title %}{{ animal.name }} | Animals | {{ zoo_titlename }}{% endblock %}

{% block body %}
    {{ include('_partials/jumbo.html.twig', {'header1': animal.name, 'subheader': animal.description }) }}

    <div class="container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('index') }}">Home</a></li>
                <li class="breadcrumb-item"><a href="{{ path('animal_index') }}">Animals</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ animal.name }}</li>
            </ol>
        </nav>


        <h3 class="card-title" title="Animal's ID:{{ animal.id }}">{{ animal.name }}</h3>
        <h5>{{ animal.description|raw }}</h5>
        <p class="card-text">
            {{ animal.name }} has {{ (animal.legs > 0) ? animal.legs : 'no' }} legs, and {{ (animal.CanItFly) ? '<b>it can</b>' : 'can not' }} fly. <br>
            <b>Born:</b> {{ animal.birthDate ? animal.birthDate|date('d.m.Y') : '<i>unknown</i>' }}<br>
            {% if animal.cage is empty %}
                <span class="text-muted">It is homeless ;(</span>
            {% else %}
                <b>Lives in:</b> <a href="{{ path('cage_show',{'id': animal.cage.id}) }}">{{ animal.cage }}</a>
            {% endif %}

            {% if animal.caretakers is empty %}
                <br><i class="text-muted">Has no caretaker</i>
            {% else %}
                <br>Its caretaker(s):
                {% for caretaker in animal.caretakers %}
                    <a href="{{ path('caretaker_show', {'id': caretaker.id}) }}">{{ caretaker }}</a>{% if not loop.last %},{% endif %}
                {% endfor %}
            {% endif %}
        </p>

        <br><br>
        <a href="{{ path('animal_index') }}" class="btn btn-secondary btn-sm">Back to preview</a>

    </div>

{% endblock %}
