{% extends 'base.html.twig' %}

{% block title %}Add caretaker | {{ zoo_titlename }}{% endblock %}

{% block body %}
    {{ include('_partials/jumbo.html.twig', {'header1': 'Adding new team member' , 'subheader': 'Because of RODO, GIODO, and any other *ODO we use only first name of the caretaker'}) }}
<div class="container">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{{ path('index') }}">Home</a></li>
            <li class="breadcrumb-item"><a href="{{ path('caretaker_index') }}">Caretakers</a></li>
            <li class="breadcrumb-item"><a href="{{ path('caretaker_manage') }}">Manage</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{ caretaker.name }}</li>
        </ol>
    </nav>

    {{ include('caretaker/_form.html.twig') }}

    <a href="{{ path('caretaker_index') }}">back to list</a>
</div>
{% endblock %}
