{% extends 'base.html.twig' %}

{% block title %}{{ caretaker.name }} | Caretakers | {{ zoo_titlename }}{% endblock %}

{% block body %}
    {{ include('_partials/jumbo.html.twig', {'header1': caretaker.name , 'subheader': 'Because of RODO, GIODO, and any other *ODO we use only first name of the caretaker'}) }}
    <div class="container">

        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{{ path('index') }}">Home</a></li>
                <li class="breadcrumb-item"><a href="{{ path('caretaker_index') }}">Caretakers</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{ caretaker.name }}</li>
            </ol>
        </nav>

        {% if caretaker.animals is not empty %}

            <h3>All animals the {{ caretaker }}'s carrying on:</h3>

            {% for animal in caretaker.animals %}
                <a href="{{ path('animal_show', {'slug': animal.slug}) }}" class="btn btn-success">{{ animal.name }}</a>
            {% endfor %}

        {% else %}
            <h3>This caretaker has no animals yet.</h3>
        {% endif %}

        <br><br>
        <a href="{{ path('caretaker_index') }}" class="bt btn-secondary btn-sm">Back to preview</a>
    </div>
{% endblock %}
